@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
      @apply dark:bg-emerald-900 bg-emerald-700
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

a, Link {
  @apply hover:underline;
}

#navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#sidenav-sticky {
  position: fixed;
  top: 12em;
  margin-left: 4.5em;
}

#pfp {
  z-index: -1;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
