@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
      @apply dark:bg-emerald-900 bg-emerald-700
  }
}

/* :root {
  background-color: rgb(6, 78, 59);
} */

h1 {
  font-size: 2.5em;
}

#navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#pfp {
  z-index: -1;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
